#content
  %h1 “Building on the Rock” Challenge
  
  %p
    To get the most out of this year’s youth conference, we hope you will join the youth conference committee in the “Building on the Rock” challenge.  What is the “Building on the Rock” challenge?  It is a seven week challenge prior to youth conference to study the following scriptures, ponder the questions listed and write in your journal the answers that you receive from the Lord.  At the end of the seven weeks we are confident that you will be closer to the Savior, your spiritual muscles will be stronger, and you will be better prepared to take advantage of our “Building on the Rock of Christ” youth conference.
  %p
    We would love all the youth of the Klein Texas Stake to be like Joseph Smith, and truly say “I have learned for myself” that these things are true (see JS His vs 20).   So what are you waiting for?... Make the commitment today to complete the “Building on the Rock” Challenge…. And get your parents to join you!!!
  %table#spiritual_prep
    %thead
      %th.span-2 Week of
      %th Study 
      %th Ponder and answer the following questions
    %tr
      %td Feb 22
      %td JS His 8-12,<br /> 17-20,<br /> 24-25
      %td
        %ul
          %li What are the ways that I learn truth (think of at least 3)?
          %li How can I learn for myself the truth? (Vs 20 “I have learned for myself”)
          %li How can I learn to act on spiritual impressions and not discount them?  
          %li What did Joseph learn from the appearance of God and His Son (list at least 5)? 
          %li Why did the Lord make Joseph wait for 4 years to receive the plates?  
          %li How can I apply in my life, Joseph’s experience in having to wait 4 years to receive the plates?
    %tr
      %td Mar 1
      %td 1Ne 3:1-9,<br /> 1 Ne 4:1-6,<br /> 1Ne 5:9-21
      %td
        %ul
          %li Why were the brass plates so important to Lehi?
          %li Why is keeping a personal journal important?
          %li How did Nephi exercise his Faith?
          %li How can I better exercise my faith in the Savior?
    %tr
      %td Mar 8
      %td Msh 2:5-17,<br /> Msh 5:1-15
      %td
        %ul
          %li What motivated King Benjamin to serve?
          %li What motivates me to serve in the church?
          %li How are the covenants King Benjamin’s people made similar to the covenants that you make each week during the sacrament?
          %li What are two things I will do this week to better know the Savior?
    %tr
      %td Mar 15
      %td Msh 16 & 17
      %td
        %ul
          %li Why would the Lord allow such a righteous man to be killed?
          %li Since almost no one believed Abinadi, what good did he do?
          %li In what ways do I ignore the warnings of modern day prophets?
          %li Why did Alma’s heart change?
          %li What can I learn from Abinadi & Alma about withstanding persecution?
    %tr
      %td Mar 22
      %td Alma 24:1-19
      %td
        %ul
          %li What blessings did the gospel bring to the Anti-Nephi-Lehi’s?
          %li What blessings has the gospel brought to my life?
          %li How can I keep my sword bright?
    %tr
      %td Mar 29
      %td 
        Hel 5:1-12 <br />
        Extra credit: <br />
        All of Hel 5
      %td
        %ul
          %li When Nephi was ousted from the government what did he do?
          %li When political, economic or personal setbacks occur in my life, what can I learn from Nephi about how to respond?
          %li Why is Christ often referred to as ‘the Rock”?
          %li Why is it important to remember? 
          %li What can I do to always remember Christ?
          %li Extra Credit: What are the attributes that made Nephi, Lehi and Amulek such powerful missionaries?  How can I be more like them?
    %tr
      %td April 5
      %td Listen to General Conference
      %td 
        %ul
          %li How are our prophets (Apostles) today different and similar to the prophets in Book of Mormon times?
          %li What 3 things will I change in my life as a result of what I heard at conference? 
          