= render :partial => "sub_nav"
#content


  %h1 What to wear at Youth Conference
  %h2 Clothing Guidelines
  %p
    Each person needs 1 Book of Mormon type outfit (with headband) to be worn at
    all times on Friday, April 10th and Saturday April 11th. This includes
    everyone who will be attending, all youth and adults.
  %p 
    Clothing should be made large enough that a sweatshirt or something warm
    could be worn underneath, if it gets cold. Long pants/short will be worn
    underneath at all times.
  %h3 Fabric
  %p
    You are responsible for obtaining your fabric. You may get donations, use
    scraps you might already have, or Walmart has fabric for $1 to $2 a yard that
    will be perfect for this occasion. Fabric should be light weight, solid or
    stripe – NO wild or modern prints!
  %p
    Pre-wash your fabric – this will eliminate potential shrinkage problems and
    will add to the worn look of the clothing. Fabric can also be over-dyed with
    tan, taupe or cream colored RIT dye to further enhance this worn look. Dyeing
    can also be done after the garment is constructed, but this is purely
    optional.
  %h3 Patterns
  %p
    You can use any pattern you would like to make your Book of Mormon clothing.
    A pattern is included following these guidelines. Look to the pattern for the
    amount of fabric you will need. The church’s website also has a pattern that
    could be used. The link to this website can be found 
    <a href="http://www.lds.org/pa/display/0,17884,7265-1,00.html" target="_blank">here</a>.
    If you do use the pattern on this website please keep in mind that it is for
    Old Testament times and needs to be adjusted for Book of Mormon times. Also,
    there is a pattern you may buy, McCall's 2060. Other clothing ideas could
    also be found by looking at the Book of Mormon pictures in the Gospel Art Kit
    or the children’s illustrated Book of Mormon.
  %h2 Possible Tribal Wear Pieces:
  %h3 Basic Tunic/Vest:
  %p
    Everyone will wear "dress" type attire that is at least knee-length. Longer
    pieces could cause a tripping hazard in wars. The basic (main) tunic must
    have sleeves. Vests may be worn over the tunic. Vest may be made with or
    without sleeves. An oversize plain T-shirt with extra fabric sewed around the
    bottom to extend the length past the knees could also be worn as a tunic
    under a vest or with a belt for YW. This could also be embellished with
    jewels or appropriate painted designs.
  %h3 Headbands:
  %p
    Everyone must have a headband that is large enough to use as a blindfold.
  %h3 Sash or Belt:
  %p
    You can be more creative with wearing options depending on how long your
    finished length is. You can have it just long enough to go once around your
    waist and tie, or a longer sash can crisscross over the chest as well as go
    around the waist, or go twice around the waist, around the waist and up over
    the shoulder, etc.
  %h3 Shawl or Scarf:
  %p
    You may have a shawl or scarf this is purely optional. Buy the length of
    fabric you want the shawl or scarf. You could fringe the edges, add
    decorative trim or just roll the hem.
  %h2 One Posible Costume Patern:
  %p
    %img{:src => "/images/costume1.png"}
  %p
    %img{:src => "/images/costume2.png"}
  %p
    %img{:src => "/images/costume3.png"}