#sub_nav.last
  %a{:href => "/bring/indevidual"} Indevidual Packing List
  |
  %a{:href => "/bring/ward"} Ward Packing List

      
  - if @admin
    = link_to "Edit Account", edit_admin_path('account')

    = link_to "Logout", @application_session, :method => :delete
  - else
    = link_to "Login", new_session_path 
    = link_to "Register", new_admin_path
