- if @admin
  #sub_nav.last
    = link_to "Attendee List", users_url

    = link_to "Download Registrant List", "/download_list"

    = link_to "Edit Your Admin Account", edit_admin_path('account')

    = link_to "Logout", @application_session, :method => :delete
