#content
  %h2.notice Congratulations!
  %p You have successfully signed up for Youth Conference!
  %p 
    Don't forget that if you indicated that you wanted to buy a t-shirt, you
    need to pay for it by Sunday, March 15, 2009.  To do so, complete a Ward
    Donation slip and write in the category marked OTHER the following, "2009
    YC T-shirt".