#content
  %h1.notice The Journey to Zerahemla Begins...
  %h2 On April 9, 2009!
  %p 
    Will you be ready?  This website will give you all the information you
    need to make you're preparations!  Ready?  Let's get started!
  %h2 Step 1: Registration
  %p
    All participants (youth and adults) must register.  Click on the register link above to get started.
  %h2 Step 2: Costuming
  %p
    Of course, if you're going to be traveling to Zerahemla, you've got to do so in style!  We've put together a comprehensive guide to help you get started.  Click on the "What to Wear" button above.
  %h2 Step 3: Just the essentials
  %p
    It's a long journey, so make sure you've got everything you need and nothing you don't.  Check out our "What to Bring" section for all the details.  There's also a section there on materials each ward should provide.
  %h2 Questions anyone?
  %p
    If you've got any questions we haven't answered yet, help is just around the corner.  Just contact a member of you're ward's Young Mens or Young Women's presidency.  They will have all the information you could possibly need.
  %p
    Good luck in your preparations for...
  %h3 The Journey to Zerahemla!