#content
  %h1.notice Building on the Rock of Christ
  %h2 
    Increasing our faith in Jesus Christ through daily personal worship 2009
    Klein Stake Youth Conference
  
  %p 
    Come with us to the land of Nephi, Zarahemla and Bountiful and learn from
    the experiences and teachings of the Book of Mormon prophets why and how
    you should “Build upon the Rock of Christ.”
  
  %p
    You will be transported with Nephi and his family back to Book of Mormon
    times and witness and participate in many of the great experiences of the
    Book of Mormon.   Participate with Lehi and Nephi in the vision of the tree
    of life, learn how to be a Nephite warrior, stand as a witness with King
    Benjamin and see how Alma the younger’s heart was changed.  Through these
    and other experiences, you will learn important ways that you can draw
    closer to the Savior through personal daily worship.  

  %p
    We encourage you to take some time before the conference to prepare
    yourself spiritually to “leave the world behind” so that this conference
    can be a “heart changing” experience.  Please click on the Spiritual
    Preparation tab to learn more about how you can prepare spiritually for
    this exciting conference by taking the “Building on the Rock” Challenge.

  %p
    Our youth conference committee has planned a wonderful conference that will
    allow you to have lots of fun, build lasting friendships, feel the spirit,
    and allow you to “learn for yourselves” the importance of personal daily
    worship so that you can stand as a witness of Christ at all times.
  
  %p
    You won’t want to miss it so
    = link_to "register today!!!", new_user_path