/ = render :partial => "sub_nav" /

#content

  %h1 2009 Klein Stake Youth Conference Schedule
  
  %p
    Below is a summary schedule.  The “Journey” activities will only be
    revealed as you exercise faith and obedience during the conference.

  %h2 Thursday, April 9 5:30pm-10:30pm
  %ul
    %li	5:30 – 6:00 Registration (Bring gear packed buckets, sleeping bags, etc)
    %li	6:00 – 8:30 Dance   (You will want to be on time!)
    %li	8:30 – 10:15 Opening Activities and Treasure Hunt
    %li	10:15 Separate into Tribes and depart to homes near church
      
  %h2 Friday, April 10 7:00am-10:30pm
  %ul
    %li 7:30 am Meet at Church in Book of Mormon Attire with packed bucket and sleeping bag for transport to Land of Nephi (No electronic devices please)
    %li 8:00 am Joseph Smith experience
    %li 8:45 Travel into the Wilderness 
    %li 10:00 set up camp in the Wilderness and begin Book of Mormon Journey
    %li Lunch
    %li Continue Journey (Battle Preparations)
    %li 5:15 p.m. (approx) Dinner
    %li Continue Journey
    %li 9:30 Campfire reflections
    %li 10:30 Lights out
    
  %h2 Saturday, April 11th, 7:00am – 10:00 pm
  %ul
    %li 7:30 am Arise all ye Nations (Breakfast and Pack up personal gear)
    %li Breakfast
    %li Continue Journey - Battle Experiences
    %li Lunch and pack remaining gear
    %li Continue Journey
    %li Dinner
    %li Testimony Meeting
    %li Continue Journey
    %li Sealing the Plates
    %li 9:30 p.m. Leave the Land of Nephi and return to homes
      