= render :partial => "sub_nav"
#content

  %h1 Individual Packing list
  %p
    We recommend that you bring the following items with you on your journey to
    Zarahemla.  Everything, except for your sleeping bag and pillow, need to fit
    in your 5-gallon bucket.
  %h2.notice What you should bring
  %h3 Clothing
  %ul
    %li 1 Book of Mormon outfit and matching headband (wide enough to be used as blindfold)
    %li 1 pair of pants to wear under Book of Mormon clothing
    %li 1 pair of shorts or another pair of pants
    %li 2 shirts (at least 1 long sleeve) to wear under Book of Mormon clothing 
    %li Light-weight coat or sweatshirt (no logos or printing if possible)
    %li Pajamas or other night clothes
    %li Comfortable hiking boots or closed-toed shoes
    %li 1 extra pair of tennis shoes for camp at night or in the event of rain. 
    %li Rain gear – Poncho or equivalent
    %li Gloves for warmth
    %li 2 pairs of socks
  %h3 Required Items
  %ul
    %li 5-gallon bucket.  (can be purchased at Home Depot or can be a clean bucket such as those used for swimming pool chlorine tablets.)
    %li Scriptures, pen or pencil
    %li Plastic plate/bowl and utensils (name must be on these items in permanent marker)
    %li Toothbrush, toothpaste, 
    %li Prescription medication, if required by a doctor
    %li Personal hygiene items 
    %li Sleeping bag
    %li Insect repellent (with DEET is preferred)
    %li Sunscreen (15 SPF or greater)
    %li Small container of anti-bacteria gel
    %li Water bottle with belt loop or strap
    %li Flashlight
  %h3 Other Recommended Items
  %ul
    %li Small camp pillow rolled up in your sleeping bag
    %li Comb or hairbrush 
    %li Small hand towel 
    %li Work Gloves
    %li Hat
    %li Head Lamp Flashlight (recommended for writing in journals after at night)
  %p
    (It is a great idea to use zip lock bags or equivalent to protect your
    items from moisture/mud) 

  %h2.error What you shouldn't bring
  %ul
    %li Sleeping cots or air mattresses
    %li CELL PHONES 
    %li Valuable jewelry
    %li 
      Battery operated equipment including but not limited to watches,
      radios, iPods, gameboys, etc.
    %li Personal food, drinks, snacks or candy
    %li Flip-flops or sandals
