= render :partial => "sub_nav"
#content
  %h1 Tribe Packing list
  
  %h2 Updated March 30, 2009
  %ul
    %li Tents: One for the couple and sufficient tents for separate accommodations for the YM and YW in the tribe. We anticipate that each tribe will have approximately eight YM and eight YW in each tribe. The individuals will bring their own sleeping bags.
    %li Tarps or other groundcovers for the tents, rain cover and ground cloth for re-enactments
    %li Small back pack to carry ground cloth or tarp
    %li Shovel
    %li Mesh bag to store dishes and utensils
    %li Dutch oven and fix’ns for ~16
    %li Hammer suitable for tent pegs
    %li hatchet or single bladed axe
    %li Flagged line suitable to surround an axe yard
    %li Solid fire starters (NO LIQUID FUELS)
    %li First aid supplies appropriate for 18-20 people
    %li Propane or electric lights suitable to illuminate a small area.
    %li Shade tarp/stakes/line or similar…something to affect some rain cover/shade cover.
    %li Large 5 gallon igloo type water cooler with ice.
    %li Ice chest (one per nation)
    %li 8 Black Sharpie® markers
    
  %h3 Backup Items
  %ol
    %li Toilet paper.
    %li Hand cleaning supplies
    %li Paper towels
    %li A few garbage bags
    %li 200 ft paracord or similar rope.
    %li Extra pens/pencils
    %li Bug spray
    %li Sunscreen
  
  %h3 Optional Items
  %ul
    %li Small Table
    %li Tribal Sage Throne