!!!
 
%html
  %head
    %title Building on the Rock of Christ :: Klein Stake Youth Conference 2009
    = stylesheet_link_tag 'print'
    / [if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]

  %body
    =yield